<html>
	<head>
	</head>
	<body>
		<div style="margin:0 auto;max-width:600px;">
            <h1>nexGen.com</h1>
			<p>Congratulations <%= username %>,</p></br>
			 Your agency is approved. Please login with your agency credentials.
			</br>
		</br></br>
		<p>Regards,</p>
			<p>Admin team,</p>
				<p>nexGen.com.</p>
		</div>
	</body>
</html>