<html>
	<head>
	</head>
	<body>
		<div style="margin:0 auto;max-width:600px;">
            <h1>nexGen.com</h1>
			<p>Dear <%= username %>,</p></br>
			 For approving the agency we need more info.Please provide us the below info.
			</br>
			<p><%= moreInfo %></p>
		</br></br>
		<p>Regards,</p>
			<p>Admin team,</p>
				<p>nexGen.com.</p>
		</div>
	</body>
</html>