<html>
	<head>
	</head>
	<body>
		<div style="margin:0 auto;max-width:600px;">
            <h1>nexGen.com</h1>
			<p>Dear customer,</p></br>
			Your password has been reset.Please use below password for login.</br>
			<p><%= password%></p>
		</br></br>
		<p>Regards,</p>
			<p>Admin team,</p>
				<p>nexGen.com.</p>
		</div>
	</body>
</html>