<html>
	<head>
	</head>
	<body>
		<div style="margin:0 auto;max-width:600px;">
            <h1>nexGen.com</h1>
			<p>Welcome <%= username %>,</p></br>
			Thanks for registering in our website. You have successully registered with us.</br>
		</br></br>
		<p>Regards,</p>
			<p>Admin team,</p>
				<p>nexGen.com.</p>
		</div>
	</body>
</html>